textarea {
  display: flex;
  flex-direction: column;
  resize: none;
  width: 50vw;
  height: 15vh;
  margin-bottom: 1%;
}
input {
  width: 20vw;
  margin-bottom: 1%;
}
#alcocheck {
  width: 20px;
}
#successed {
  margin-left: 3%;
  font-size: 16px;
  font-weight: bold;
}
#data {
  margin: 0;
}
#data p {
  margin: 0;
}
#data h5 {
  display: inline;
}
